<%- include('header'); -%>

    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
            <img src="/images/error-404.png" style="height: 150px; margin-bottom: 20px;">
            <h1 class="text-body-emphasis">Error 404! Page Not Found</h1>
            <p class="col-lg-8 mx-auto fs-5 text-muted">
                The page you are requesting does not exist!
                You can click the button below to got to main page.
            </p>
            <div class="d-inline-flex gap-2 mb-5">
                <button class="btn btn-warning" type="button" style="font-size: 20px;"><a href="/"
                        style="color: inherit; text-decoration: none;">Go to Main Page</a>
                </button>
            </div>
        </div>
    </div>

    <%- include('footer'); -%>