<%- include('header'); -%>

    <div class="container-fluid main-heading">
        <h1>
            Tutorial
        </h1>
    </div>
    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
        <div class="list-group">
            <label class="list-group-item d-flex gap-3">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
                <span class="pt-1 form-checked-content">
                    Click + button to create new task
                </span>
            </label>
            <label class="list-group-item d-flex gap-3">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
                <span class="pt-1 form-checked-content">
                    Click the checkbox to delete a task
                </span>
            </label>
            <label class="list-group-item d-flex gap-3">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
                <span class="pt-1 form-checked-content">
                    Try it Out here
                </span>
            </label>
            <label class="list-group-item d-flex gap-3 bg-body-tertiary"
                style="display: flex !important;justify-content: space-around;">
                <input type="text" placeholder="Add New Task" class="add-task">
                <button type="submit" class="submit-btn btn btn-outline-warning">+</button>
            </label>
        </div>
    </div>
    <div class="container tut-today-btn">
        <a href="/today" class="today-btn"><button class="btn btn-outline-warning"
                style="font-size: 20px; width: 300px;">Today's
                page</button></a>
    </div>

    <%- include('footer'); -%>