@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F8F9FA !important;
}

/* label around add task */
.list-group-item+.list-group-item {
    background-color: white !important;
}

/* adding new item input */
input.add-task {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    outline: none;
    border: none;
    background-color: white !important;
    color: grey;
    opacity: 0.75;
    width: 313px;
    text-align: center;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #ffc107;
}

/* task box */
label {
    font-size: 1.5rem;
}

/* main heading of the list */
.main-heading {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* submit button */
.submit-btn.btn.btn-outline-warning {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* yellow btn styling */
.btn-outline-warning {
    --bs-btn-hover-color: white !important;
    --bs-btn-active-color: white !important;
}

/* navbar  */
.navbar,
.navbar-brand,
.btn {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    font-size: 1.5rem !important;
    margin-left: 20px;
}

.nav-item {
    margin: .5rem;
}

.nav-link {
    font-size: 20px !important;
}

.nav-link.dropdown-toggle {
    color: white;
}

.dropdown-menu.show {
    width: fit-content;
}

#navbarsExample01 {
    margin-bottom: 20px;
    margin-left: 20px;
}

#navbarsExample01>button {
    font-size: 20px;
}

/* input checkbox */
.form-check-input[type=checkbox] {
    border-radius: 50% !important;
    border-color: lightgray;
    /* background-color: #ffc107; */
}

input:checked {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
}



/* bootstrap style */
.list-group {
    width: 100%;
    max-width: 460px;
    margin-inline: 1.5rem;
}

.form-check-input:checked+.form-checked-content {
    opacity: .5;
}

.form-check-input-placeholder {
    border-style: dashed;
}

[contenteditable]:focus {
    outline: 0;
}

.list-group-checkable .list-group-item {
    cursor: pointer;
}

.list-group-item-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.list-group-item-check:hover+.list-group-item {
    background-color: var(--bs-secondary-bg);
}

.list-group-item-check:checked+.list-group-item {
    color: #fff;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.list-group-item-check[disabled]+.list-group-item,
.list-group-item-check:disabled+.list-group-item {
    pointer-events: none;
    filter: none;
    opacity: .5;
}

.list-group-radio .list-group-item {
    cursor: pointer;
    border-radius: .5rem;
}

.list-group-radio .form-check-input {
    z-index: 2;
    margin-top: -.5em;
}

.list-group-radio .list-group-item:hover,
.list-group-radio .list-group-item:focus {
    background-color: var(--bs-secondary-bg);
}

.list-group-radio .form-check-input:checked+.list-group-item {
    background-color: var(--bs-body);
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 2px var(--bs-primary);
}

.list-group-radio .form-check-input[disabled]+.list-group-item,
.list-group-radio .form-check-input:disabled+.list-group-item {
    pointer-events: none;
    filter: none;
    opacity: .5;
}